<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Share and Eat</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="./scripts/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Serif|Open+Sans+Condensed:300|PT+Sans|Poppins|Rajdhani" rel="stylesheet">


</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red lighten-2">
        <a href="/about" class="brand-logo"><img src="./images/S.png"></a>
        <ul class="right hide-on-med-and-down">
          <% if(!user) { %>
            <a href="/signup" class="btn white black-text">Sign up</a>
            <a href="/login" class="btn white black-text">Log In</a>
          <% } else { %>
            <a href="/api/users/<%=user.id%>"><%= user.username %></a>
            <a href="/logout" class="btn white black-text">Log Out</a>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>

  <main>
    <div id="target" class="row rest-layout">
      <h2 class="center-align">All Restaurants</h2>
      <div class="container row">
        <% for (let restaurant of restaurants) { %>
          <div class="col s4 each-rest">
            <img class="rest-image" src="<%=restaurant.image%>">
            <p class="rest-name"><a href="/api/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></p>
          </div>
        <% } %>
      </div>
    </div>
  </main>

    </body>
    </html>